.table{
    border: solid 2px green;
    background-color:lightgreen;
    color: darkgreen;
    padding: 10px;
    width: 250px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}
.name-input{
    margin: 10px auto;
    padding: 10px;
    color: red;
}